h1
{
    width: 100%;
    background-color: red;
}

/*h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}
h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}h1
{
    width: 100%;
    background-color: aqua;
}*/